body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




.main-mnu {
  position: absolute;
  top: 35px;
  width: 200px;
  background-color: whitesmoke;
  border: solid 3px silver;
  border-radius: 3px;
  z-index: 1;
}

  .main-mnu li {
    padding: 1px 5px;
    transition: all .2s ease 0s;
  }
    .main-mnu li:hover { background-color: #007bff; }
      .main-mnu li:hover a {
        color: white;
      }
    .main-mnu li a:hover { text-decoration: none; }